*{
  padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: "Rubik", sans-serif;
    line-height: 1;
    font-weight: 400;
    color: rgb(202, 24, 24);
    background-color: rgb(145, 235, 235);
  }
  html {
    font-size: 10px;
    font-size: 62.5%;
    /* overflow-x: hidden; */
  } 

  .heading {
    font-size: 20px;
    text-align: center;
    margin: 20px;
    color:rgb(22, 6, 163);
    /* background-color: rgba(235, 151, 78, 0.35); */
     /* linear-gradient( to right bottom, rgba(235, 151, 78, 0.35), rgba(230, 125, 34, 0.35) */
    
  }
  

  .heading-secondary{
    font-size: 20px;
    margin: 15px;
    padding: 10px;
    color: rgb(32, 9, 245);
  }
   /**************************/
  /* TESTIMONIALS SECTION */
  /**************************/
  
  .section-testimonials {
    /* background-color: #fdf2e9; */
    background-color: rgb(241, 186, 209);
    display: grid;
    grid-template-columns: 55fr 45fr;
    align-items: center;
  }
  
  .testimonials-container {
    padding: 9.6rem;
    
  }
  
  .testimonials {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 4.8rem;
    column-gap: 8rem;
  }
  
  .testimonial-img {
    width: 6.8rem;
    border-radius: 50%;
    margin-bottom: 1.5rem;
  }
  
  .testimonial-text {
    font-size: 1.5rem;
    line-height: 1.6;
    margin-bottom: 1.6rem;
  }
  
  .testimonial-name {
    font-size: 1.6rem;
    color: #6f6f6f;
  
  }
  
  .gallery {
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.6rem;
    padding: 1.8rem;
    width: 12cm;
  
  }
  
  .gallery-item {
    overflow: hidden;
  }
  
  .gallery-item img {
    display: block;
    width: 100%;
    transition: all 0.4s;
  }
  
  .gallery-item img:hover {
    transform: scale(1.1);
  }

   /**************************/
  /* FOOTER */
  /**************************/
  
  .footer {
    margin-top:25px;
    padding: 12.8rem 0;
    border-top: 1px solid #6f6f6f;
    /* color: #6f6f6f; */
  }
  
  .grid--footer {
    grid-template-columns: 1.5fr 1.5fr 1fr 1fr 1fr;
  }
  
  .logo-col {
    display: flex;
    flex-direction: column;
  }
  
  .footer-logo {
    display: block;
    margin-bottom: 3.2rem;
  }
  
  .social-links {
    list-style: none;
    display: flex;
    gap: 2.4rem;
  }
  
  .social-icon {
    height: 2.4rem;
    width: 2.4rem;
  }
  
  .copyright {
    font-size: 1.0rem;
    line-height: 1.6;
     color: #f30909; 
    margin-top: auto;
  }
  
  .footer-heading {
    font-size: 1.8rem;
    font-weight: 500;
    margin-bottom: 4rem;
  }
  
  .contacts {
    font-style: normal;
    font-size: 1.6rem;
    line-height: 1.6;
  }
  
  .address {
    margin-bottom: 2.4rem;
    color: #000;
  }
  
  .footer-nav {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
  }
  
  .footer-link:link,
  .footer-link:visited {
    text-decoration: none;
    font-size: 1.6rem;
    color: #0c0202;
    transition: all 0.3s;
  }
  
  .footer-link:hover,
  .footer-link:active {
    color: rgb(180, 17, 17);
  }

  .heading-secsubheadingondary{
    font-size:25px;
  }
  /* General css */

  .grid {
    display: grid;
    column-gap: 6.4rem;
    row-gap: 9.6rem;
    /* margin-bottom: 9.6rem; */
}